*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    position: relative;
}
h4:hover {
    cursor: pointer;
}
h4::after {
content: "+";
position: absolute;
top: -2px;
right: 0;
font-size: 30px;
}
/* .item-wrapper {
    display: none;
} */
h4.active::after {
content: "-";
position: absolute;
top: -2px;
right: 0;
font-size: 30px;
}
.item-wrapper.active {
    display: contents;
}
